In [2]:
import pandas as pd
import numpy as np

In [5]:
# Create sample dataset
data = {
    "Name": ["Saee_Mane", "Kishori_IT", "Charlie_Finance", "David_HR", "Shravani_HR"],
    "Age": [21, 20, 25, 26, np.nan],
    "Department": ["HR", "IT", "Finance", np.nan, "HR"],
    "Salary": [100000, 50000, 30000, 10000, 45000],
    "Status": ["Adult", "Minor", "Adult", "Adult", "Adult"],
    "Promoted Salary": [1000000, 500000, 300000, 100000, 450000]
}

df = pd.DataFrame(data)

print(df)

              Name   Age Department  Salary Status  Promoted Salary
0        Saee_Mane  21.0         HR  100000  Adult          1000000
1       Kishori_IT  20.0         IT   50000  Minor           500000
2  Charlie_Finance  25.0    Finance   30000  Adult           300000
3         David_HR  26.0        NaN   10000  Adult           100000
4      Shravani_HR   NaN         HR   45000  Adult           450000

# Dataset Health Check

In [ ]:
def data_health1(df):
    report = {}
    report['shape'] = df.shape
    report['Columns'] = df.columns
    report['missing_values']  = df.isnull().sum()
    report['data_types'] = df.dtypes
    report['memeory_usage_MB'] = round(df.memory_usage(deep = True).sum()/1024**2 , 2)

    return report

In [ ]:
print(data_health1(df))

{'shape': (5, 6), 'Columns': Index(['Name', 'Age', 'Department', 'Salary', 'Status', 'Promoted Salary'], dtype='object'), 'missing_values': Name               0
Age                1
Department         1
Salary             0
Status             0
Promoted Salary    0
dtype: int64, 'data_types': Name                object
Age                float64
Department          object
Salary               int64
Status              object
Promoted Salary      int64
dtype: object, 'memeory_usage_MB': np.float64(0.0)}

In [13]:
def data_health2(df):
    return {
        "rows": df.shape[0],
        "columns": df.shape[1],
        "missing_values": df.isnull().sum().to_dict(),
        "duplicates": int(df.duplicated().sum())
    }
res = data_health2(df)
res

{'rows': 5,
 'columns': 6,
 'missing_values': {'Name': 0,
  'Age': 1,
  'Department': 1,
  'Salary': 0,
  'Status': 0,
  'Promoted Salary': 0},
 'duplicates': 0}

In [14]:
df.dtypes

Name                object
Age                float64
Department          object
Salary               int64
Status              object
Promoted Salary      int64
dtype: object

In [ ]:
df['Age'] = df['Age'].astype(int)

def column_summary(df):
    return{
        "Age": df['Age'],
        "Salary": df['Salary'],
        "Department":df["Department"],
        "Status":df["Status"] ,
        "Mean Salary": df["Salary"].mean(),
        "Max Salary": df["Salary"].max(),
        "Min Salary": df["Salary"].min(),
        "Most Common Department": df["Department"].mode()[0]

    }